<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="es.uca.mps.SANTIAGO_GODOY.design.Activator"
               id="es.uca.mps.SANTIAGO_GODOY.design"
	       name="SANTIAGO_GODOY">
    </component>
  </extension>
</plugin>
